ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 145px;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
}

li a.active {
  color: white;
  background-color: gray;
}

.main-heading {
  text-align: center;
  position: absolute;
  top: 3%;
  width: 100%;
  font-family: fantasy;
  font-size: 50px;
  color: #000;
}

.wrapper{
    display:grid;
    grid-template-columns: 69% 30%;
    grid-column-gap:1em;
    grid-row-gap:1em;    
  }
